  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $button-color: #f5f4fa;
  $background-color: #ffffff;
  $color-black: #000000;
  $color-white: #ffffff;
  $background-color-footer: #2f303a;
  $primary-font-weight: 400;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

